@keyframes translate_down {
    from{
        transform: translateY(-200px);
    }
    to{
        transform: translateY(0);
    }
}

.animate_translate_down{
    animation: translate_down 0.3s ease-in-out;
}

@keyframes translate_up {
    0%{
        transform: translateY(0);
    }
    10%{
        transform: translateY(-30px);
        opacity: 1;
    }
    90%{
        transform: translateY(-30px);
        opacity: 1;
    }
    100%{
        transform: translateY(0);
        opacity: 0;
    }
}

.animate_flash_session{
    animation:  translate_up 2.5s;
}


@keyframes product_translate_up {
    from{
        opacity: 0;
        transform: translateY(15px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

.animate_reveal{
    opacity: 0;
    animation: product_translate_up 0.3s forwards;
}

@keyframes row_translate_left {
    from{
        opacity: 0;
        transform: translateX(-10px);
    }
    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.animate_tl{
    opacity: 0;
    animation: row_translate_left 0.2s forwards;
}

@keyframes variant_translate_down{
    from{
        opacity: 0;
        transform: translateY(24px);
    }
    to{
        opacity: 1;
        transform: translateY(27px);
    }
}

.animate_variant_translate_down{
    animation: variant_translate_down 0.1s ease-in-out;
}